fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.6

# Dropbox stabilā versija Railway vidē
dropbox==11.34.0

# Pydantic komplekts (derīgs FastAPI 0.110)
pydantic==2.7.4
pydantic-core==2.18.4
typing_extensions==4.8.0

# Dokumentu apstrāde
PyPDF2==3.0.1
python-docx==1.1.0
